<!DOCTYPE html>
<html>
<head>
    <title>Update Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Login - page</h2>
            
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">User name </label>
                  <input type="text" class="form-control"name ="username"  id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text"> </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name ="password" id="exampleInputPassword1">
                </div>
                 <p>Dont have account <a href="register">Register</a></p>
                <button type="submit" class="btn btn-primary">Submit</button>
          
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function() {
                $('button[type="submit"]').prop('disabled', true);  // Disable the submit button
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
